.name-input {
    border-bottom: 3px solid #6c6d6f;
    outline      : none;
    transition   : 0.3s all;
}

.name-box:focus-within .name-input {
    border-bottom: 3px solid #4433ff;
    transform    : translateY(8px);
}

.name-box:focus-within .input-label {
    color: #4433ff;
}

.email-input {
    border-bottom: 3px solid #6c6d6f;
    outline      : none;
    transition   : 0.3s all;
}

.name-box:focus-within .email-input {
    border-bottom: 3px solid #4433ff;
    transform    : translateY(8px);
}

/*Magical button*/
.magical-btn,
.btn-rainbow {
    width        : 100%;
    max-width    : 180px;
    font-size    : 20px;
    font-weight  : 500;
    text-align   : center;
    transition   : 0.2s all;
    color        : rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    background   : linear-gradient(60deg,
            hsl(21, 95%, 47%),
            hsl(0, 100%, 50%),
            hsl(322, 94%, 55%),
            hsl(240, 86%, 52%),
            hsla(260, 100%, 55%, 0.775),
            hsl(325deg, 100%, 48%));
    background-size: 600%;
    animation      : anime 15s linear infinite;
}

.magical-btn:focus {
    transform: scale(0.95);
}

.btn-rainbow {
    position: absolute;

    z-index: -1;
    filter : blur(50px);
    opacity: 0.8;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}